.wrapper-small-padleft {
  margin-right: auto;
  margin-left: auto;

  max-width: 1200px;

  padding-right: 300px;
  padding-left: 50px;
}

/* CAROUSEL  */

.carousel img {
  height: 400px;
  max-width: 1000px;
  object-fit: cover;
}

.carousel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 5px;
}

.slides {
  display: flex;

  overflow: auto;
}

.move-left,
.move-right {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: grid;
  place-items: center;
  align-self: center;
  box-shadow: 0px 0px 3px 1px #808080;
}

/* PRODUCT HEAD  */

.product-head {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr auto;
}

svg {
  width: 20px;
  fill: #808080;
}

.feature {
  display: grid;
  grid-auto-flow: column;
  width: max-content;
  grid-gap: 20px;
}

.product-head .two-column {
  place-items: center;
  grid-gap: 5px;
  width: max-content;
}

hr {
  margin: 20px 0;
  max-width: 700px;
  border-top: 1px solid #e4e4e4;
}

span {
  color: #808080;
}

.card-review svg.star-icon {
  fill: var(--orange);
}

.price-card {
  box-shadow: 0 0 5px 0px #808080;
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: max-content;
  height: 200px;
}

.option-button {
  background-color: var(--red);
  padding: 10px;
  text-align: center;
  opacity: 0.8;
  transition: 0.1s;
}

.option-button:hover {
  text-decoration: none;
  opacity: 1;
}

.option-button span {
  color: var(--white);
}

span.promotion {
  background-color: var(--orange);
  color: var(--white);
  padding: 5px;
}

.product-head li {
  list-style: inside;
  padding: 5px 0;
}

/* RECENT REVIEW  */
.recent-review {
  background-color: #ebebeb;
  padding: 10px 50px;
  display: grid;
  grid-template:
    "header header" auto
    ". ." auto
    "more more" auto/
    auto auto;

  grid-gap: 10px;
}

.recent-review h2 {
  grid-area: header;
}

.review-card {
  display: grid;
  grid-template:
    "avatar content" auto
    "name content" auto/
    100px auto;

  grid-template-rows: max-content;
  grid-gap: 10px;
}

.review-card .avatar {
  grid-area: avatar;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-self: center;
}

.review-card .name {
  grid-area: name;
  justify-self: center;
}

.review-card .review-content {
  grid-area: content;
  background-color: white;
  padding: 15px;
  display: grid;
  grid-gap: 10px;
  position: relative;
  margin-top: 20px;
}

.review-triangle {
  fill: white;
  position: absolute;
  top: 0;
  left: -20px;
}

a.more {
  grid-area: more;
  color: blue;
  text-align: right;
  padding: 10px;
}

/* PACKAGE OPTION  */
.package-option {
  padding-top: 20px;
}
.option-list {
  display: grid;
  grid-gap: 10px;
}

.option-list li {
  border-radius: 10px;
  box-shadow: 0 0 3px 0px gray;
  padding: 15px 10px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 20px;
  align-items: center;
}

.option-list h3 {
  display: inline-block;
}

.option-list span {
  font-weight: 900;
  color: var(--blue);
}

.book-now {
  color: white;
  background-color: var(--red);
  padding: 10px 5px;

  transition: 0.1s all;
  opacity: 0.8;
}

.book-now:hover {
  text-decoration: none;
  opacity: 1;
}

/* FULL DESCRIPTION */

.content p {
  padding: 10px 0;
}

.content ul {
  list-style: outside;
  padding: 10px 30px;
}

.content li {
  padding: 10px 0;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
  padding-bottom: 50px;
}

/* MAP */
.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* SIDE NAV  */
.side-nav {
  position: sticky;
  top: 200px;
  float: right;
  right: 3vw;

  width: 200px;
  padding: 15px 10px;

  background-color: var(--blue);
  box-shadow: 0 0 3px 1px gray;
}

.side-nav ul {
  display: grid;
  grid-gap: 10px;
}

.side-nav li {
  background-color: #d8ecff;
  border-radius: 5px;
  color: var(--blue);
  padding: 5px;
}

.side-nav li:hover {
  background-color: white;
}

.side-nav a:hover {
  text-decoration: none;
}

/* bottom Buy Now */

.buy-now {
  height: 50px;
  background-color: white;
  box-shadow: 0 0px 2px 0 gray;
  position: sticky;
  bottom: 0;
  padding: 0 10px;

  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  justify-content: center;
  place-items: center;
  z-index: 1;
}

.option {
  color: var(--darkred);
  border-width: 1px;
  border-style: solid;
  border-color: var(--darkred);
  padding: 10px 5px;
  text-decoration: none;

  transform: 0.1s all;
}

.option:hover {
  background-color: #a7004220;
  text-decoration: none;
}

@media only screen and (max-width: 960px) {
  .product-head {
    padding: 20px 50px;
    grid-template-columns: auto;
    grid-gap: 30px;
  }
  span.promotion {
    text-align: center;
  }

  .recent-review {
    display: block;
  }

  .review-card .review-content {
    font-size: 0.8rem;
  }

  .recent-review a.more {
    color: blue;
    text-align: right;
    display: block;
  }

  .wrapper-small-padleft {
    padding-right: 200px;
  }

  .side-nav {
    position: sticky;
    top: 200px;
    float: right;
    right: 5px;

    width: 150px;

    background-color: var(--blue);
    box-shadow: 0 0 3px 1px gray;

    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 640px) {
  .side-nav {
    display: none;
  }
  .wrapper-small-padleft {
    padding-right: 30px;
    padding-left: 30px;
  }

  .buy-now h2 {
    font-size: 1rem;
  }

  .buy-now span {
    font-size: 0.8rem;
  }
}
