/* BASE STYLING  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  --orange: #edbc00;
  --blue: #004c99;
  --darkred: #a70042;
  --white: #ffffff;
  --red: #db002c;
  --yellow: #ffee00;

  --card-padding: 5px 12px;
}

.remove-style {
  appearance: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  border: inherit;
  border-style: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h2 {
  padding: 10px 0;
  color: var(--blue);
}

p {
  line-height: 1.5;
}

/* Utility Classes */
.two-column {
  display: grid;
  grid-template-columns: auto auto;
}

.three-column {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 1200px;

  padding-right: 10px;
  padding-left: 10px;
}

.round-end {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.rounded {
  border-radius: 5px;
}

.top-round {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* HEADER NAV  */

header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1;
}

header .wrapper {
  justify-content: space-between;
  grid-gap: 10px;
}

.logo {
  height: 80px;
}

header ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
  padding: 24px 10px;
}

nav svg {
  width: 15px;
  height: 15px;
}

img.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.my-booking {
  border-width: 1px;
  border-style: solid;
  border-color: var(--orange);
  padding: 10px;
}

.my-booking:hover {
  text-decoration: none;
  background-color: #edbe0020;
}

.my-account {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  align-items: center;
  background-color: var(--orange);
  padding: 10px;

  opacity: 0.8;
  transition: 0.1s all;
}

.my-account:hover {
  text-decoration: none;
  opacity: 1;
}

.my-account-small {
  border-radius: 50%;
  display: none;
}

.my-account-small img {
  width: 30px;
  height: 30px;
}

.drop-icon {
  position: relative;
}

.drop-down {
  display: inherit;
  position: absolute;
  top: 100%;
  border: 1px solid #004c99;
  background-color: white;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s all;
}

.drop-icon .drop-down li {
  padding: 0.5rem 0px;
}

.drop-icon:hover .drop-down {
  opacity: 1;
  visibility: visible;
}

/* FOOTER  */
footer {
  background-color: var(--blue);
  padding: 30px 0;
  width: 100%;
}

footer nav {
  display: grid;
  grid-auto-flow: column;
}

footer h2 {
  color: var(--white);
  font-size: 1rem;
}

footer li {
  padding: 5px 0;
}

footer a {
  padding: 10px;
  color: rgb(171, 171, 171);
  font-size: 0.8rem;
}

.social {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  inline-size: max-content;
}

.social img {
  width: 30px;
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 1;
  width: 100%;
  display: none;
}

.mobile-menu ul {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  height: 50px;
}

/* BREADCRUMBS  */
.breadcrumbs {
  font-size: 0.8rem;
  padding: 30px 0;
  color: #808080;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  color: var(--blue);
}

.breadcrumbs li + li:before {
  padding: 5px;
  color: #808080;
  content: "/\00a0";
}

/* Search bar */
.search {
  border: 2px solid #80808041;

  margin: 10px;
  height: 40px;

  display: grid;
  grid-template-columns: 30px 1fr;
  align-self: center;
  margin: 0 0px;
}

.search-icon {
  width: 20px;
  margin-left: 10px;
  align-self: center;
}

.search-bar {
  border: none;
}

.search-bar input {
  border: none;
  margin: 0 10px;
  width: 80%;
  font-family: inherit;
  font-size: inherit;

  height: 100%;
}

input:focus {
  outline: none;
}

/* email subscribe */
.email-subscribe {
  position: relative;
  min-height: 50vh;
}
.email-bg {
  position: absolute;
  width: 100vw;
  opacity: 0.75;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

.email-wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 800px;

  padding-right: 200px;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.subscribe-card {
  background-color: white;
  padding: 5vh;
  position: relative;
  box-shadow: 2px 2px 10px 0 gray;
}

.air-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  object-fit: cover;
}

.subscribe-card span {
  font-size: 0.7rem;
}

.subscribe-card a {
  text-decoration: underline;
}

.email-sub {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  margin: 10px 0;
}
.email-sub input {
  padding: 5px;
}

.email-sub button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--orange);
}

.subscribe-card input:focus {
  outline: none;
}

@media only screen and (max-width: 640px) {
  footer nav {
    display: block;
    padding-bottom: 20px;
  }

  .my-account-small {
    display: block;
  }

  .my-account {
    display: none;
  }

  .card-list {
    display: block;
    width: 100%;
  }

  .activity-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .email-sub {
    grid-auto-flow: row;
  }

  .subscribe-card {
    padding: 2vh;
  }
}
