/* BASE STYLING  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  --orange: #edbc00;
  --blue: #004c99;
  --darkred: #a70042;
  --white: #ffffff;
  --red: #db002c;
  --yellow: #ffee00;

  --card-padding: 5px 12px;
}

.remove-style {
  appearance: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  border: inherit;
  border-style: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h2 {
  padding: 10px;
  color: var(--blue);
}

/* Utility Classes */
.two-column {
  display: grid;
  grid-template-columns: auto auto;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 1200px;

  padding-right: 10px;
  padding-left: 10px;
}

.round-end {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.rounded {
  border-radius: 5px;
}

.top-round {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* HEADER NAV  */

header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1;
}

header .wrapper {
  justify-content: space-between;
}

.logo {
  height: 80px;
}

header ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
  padding: 24px 10px;
}

nav svg {
  width: 15px;
  height: 15px;
}

nav img.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.my-booking {
  border-width: 1px;
  border-style: solid;
  border-color: var(--orange);
  padding: 10px;
}

.my-account {
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  align-items: center;
  background-color: var(--orange);
  padding: 10px;
}

/* FOOTER  */
/* FOOTER  */
footer {
  background-color: var(--blue);

  padding: 30px 0;
}

footer nav {
  display: grid;
  grid-auto-flow: column;
}

footer h2 {
  color: var(--white);
  font-size: 1rem;
}

footer li {
  padding: 5px 0;
}

footer a {
  padding: 10px;
  color: rgb(171, 171, 171);
  font-size: 0.8rem;
}

.social {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  inline-size: max-content;
}

.social img {
  width: 30px;
}

/* BREADCRUMBS  */
.breadcrumbs {
  font-size: 0.8rem;
  padding: 30px 0;
  color: #808080;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  color: var(--blue);
}

.breadcrumbs li + li:before {
  padding: 5px;
  color: #808080;
  content: "/\00a0";
}
